/* reset */
html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
} 

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

/* variables */
:root {
	--spacing: 33px;
	--pad-top: 44px;
}

.container {
	flex-direction: column;
	height: 100%;
}

.child-1 p {
	padding-left: var(--spacing);
	padding-top: var(--pad-top); 
}

.child-1 {
	width: 100%;
	height: 20%;
	margin-bottom: var(--spacing);
	background-color: #baffc9;
}

.child-2 {
	height: 80%;
}

.child-3 {
	width: 77%;
	margin-right: var(--spacing);
}

.yellow-red-container {
	height: 66%;
}

.red-container, .yellow-container {
	flex-direction: column;
	width: 50%;
}

.yellow-container {
	background-color: #ffffba; 
	margin-right: var(--spacing);	
}

.yellow-container p {
	padding-left: var(--spacing);
	padding-top: var(--pad-top); 
}

.red-container {
	background-color: #ffb3ba;
}

.red-container p {
	padding-left: var(--spacing);
	padding-top: var(--pad-top); 	
}

.box-vertical-center {
	flex: 1 0 auto;
	align-items: center;
}

.w-box {
	width: calc(50% - 2 * 11px);
	background: white;
	margin: 11px;	
}

.orange-container p {
	padding-left: var(--spacing);
	padding-top: var(--pad-top); 	
}

.orange-container {
	background-color: #ffdfba;
	height: 30%;
}

.blue-container p {
	padding-left: var(--spacing);
	padding-top: var(--pad-top); 	
}

.blue-container {
	background-color: #bae1ff;
	width: 34%;
}

.box-wrapper {
	width: 50%;
	height: 222px;
}

/* helper classes */
.d-flex { display: flex; }
.flex-direction-column { flex-direction: column; }
.justify-content-center { justify-content: center; }
.d-inline-flex { display: inline-flex; }
.f-wrap { flex-wrap: wrap; }
.text-center { text-align: center; }
	


