/* reset */
html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
} 

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

/* variables */
:root {
	--round: 4px;
	--spacing-sm: 11px;
	--spacing: 22px;
	--spacing-l: 44px;
}
/*use ascendent number, should use (name)-sm, (name)-l.. */

body {
	font-size: 4em;
}

header, nav, footer, .main-info {
	margin: 0 var(--spacing-l) var(--spacing) var(--spacing-l);
	border-radius: var(--round);
} 

p, header nav footer {
	padding-left: var(--spacing-l);
}

header {
	background-color: #a60000;
	height: 22%;
	margin-top: 5px;
}

nav {
	background-color: #a60068;
	height: 11%;
}

p.text-yellow {
	color: #f9d715;
}

.text-orange {
	color: #d28c00;
}

p.text-green {
	color: #b4e50d;
}

.main-info {
	height: 55%;
}

.articles-sec {
	width: 66%;
	margin-right: var(--spacing);
}

.lateral-sec {
	width: 33%
}

article {
	background-color: #9fee00;
}

.main-article, .smaller-article, section, aside {
	border-radius: var(--round);
}

.main-article {
	height: 60%;
	margin-bottom: var(--spacing-sm);
}

.smaller-article {
	height: 40%;
}

section {
	background-color: #009899;
	height: 66%;
	margin-bottom: var(--spacing-sm);
}

aside {
	background-color: #004098;
	height: 34%;
}

footer {
	background-color: #319904;
	height: 11%;
}


/* helper classes */
.d-flex { display: flex; }
.flex-direction-column { flex-direction: column; }
.justify-content-center { justify-content: center; }
.d-inline-flex { display: inline-flex; }
.f-wrap { flex-wrap: wrap; }
.text-center { text-align: center; }

