/* reset */
html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
} 

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

/* variables */
:root {
	--spacin1: 22px;
	--spacin2: 44px;
	--spacing3: 11px;
	--round: 4px;
}

header {
	background-color: #a60000;
	height: 22%;
}

nav {
	background-color: #a60068;
	height: 11%;
}

header, nav, footer, .word-orange {
	margin: 0 var(--spacin2) var(--spacin1) var(--spacin2);
	border-radius: var(--round);
} 

p, header nav footer {
	padding-left: var(--spacin2);
	padding-top: var(--round);
}

p.word-yellow {
	color: #f9d715;
}

div.word-orange {
	color: #d28c00;
}

p.word-green {
	color: #b4e50d;
}

.word-orange {
	height: 55%;
}

.aricles-sec, .lateral-sec {

}

.articles-sec {
	width: 66%;
	margin-right: var(--spacin1);
}

.lateral-sec {
	width: 33%
}

article {
	background-color: #9fee00;
}

.main-article {
	height: 60%;
	margin-bottom: var(--spacing3);
}

.smaller-article {
	height: 40%;
}

section {
	background-color: #009899;
	width: %;
}

aside {
	background-color: #004098;
}

footer {
	background-color: #319904;
	height: 11%;
}


/* helper classes */
.d-flex { display: flex; }
.flex-direction-column { flex-direction: column; }
.justify-content-center { justify-content: center; }
.d-inline-flex { display: inline-flex; }
.f-wrap { flex-wrap: wrap; }
.text-center { text-align: center; }

